<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vuduc.tluiot">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_spray_iot"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark">
        </activity>
        <activity android:name=".WeatherActivity"/>
        <activity android:name=".NodeActivity">
        </activity>
        <activity android:name=".ActuatorActivity"/>
        <activity android:name=".AreaActivity"/>
        <activity android:name=".NodeAddActivity">
        </activity>
        <activity android:name=".DeviceNodeAddActivity">
        </activity>
        <activity android:name=".DeviceNodeUpdateActivity">
        </activity>
        <activity android:name=".DeviceTypeActivity">
        </activity>
        <activity android:name=".DeviceTypeUpdateActivity">
        </activity>
        <activity android:name=".DeviceTypeAddActivity">
        </activity>
        <activity android:name=".AreaAddActivity">
        </activity>
        <activity android:name=".ActuatorAddActivity">
        </activity>
        <activity android:name=".ActuatorUpdateActivity">
        </activity>
        <activity android:name=".GroupExecuConditionActivity">
        </activity>
        <activity android:name=".GroupExecuDetailActivity">
        </activity>
        <activity android:name=".GroupExecuAddActivity">
        </activity>
        <activity android:name=".ConditionAddActivity">
        </activity>
    </application>

</manifest>